<head>
		<meta charset="utf-8">
		<title>Es es mi blog</title>
		<link rel="stylesheet" type="text/css" href="fichero.css">
		<script type="text/javascript" src="ejercicio6.js"></script>
	</head>
	<body>
	   
	</body>
</html>